<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Foodies </title>
    <meta name="viewport" content="width=device-width">
        <!-- Less styles -->
     <link href="assets/less/style.less" rel="stylesheet/less">
     <link href="assets/less/font-awesome.less" rel="stylesheet/less">
     <script type="text/javascript" src="assets/js/less-1.3.3.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="container">
        <div class="header">

        </div>
        <div class="hero-unit">
          <div class="brand">
            <h1 class="logo"><i class="icon-food"></i>Foodies</h1>
            <span>Discover real foodies, Read real reviews</span>
            <div class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut iaculis metus. Vestibulum non nibh non lectus egestas convallis at eu risus. Mauris hendrerit mi sed magna sodales pulvinar. 
            </div>
          </div>
          <div class="call-to-action">
            <div class="login">
               <h1>Login</h1>
              <form>
               <div class="input"> <input type="text" placeholder="Email" class="textbox" /> </div>
               <div class="input"> <input type="password" placeholder="Password" class="textbox"/> </div>
               <div class="input">
                <input type="checkbox" name=""/> Remember me
                
               </div>
                <div class="input pull-left"> 
                  <button>Sign in</button>
                  <a href="#" class="push-left">Forgot password?</a>
                </div>
                <div class="input pull-left">
                  <a href="#" class="social-icons push-left facebook"><img src="assets/images/facebook-login-button.png"/> </a>
                  <a href="#" class="social-icons push-left"> <img src="assets/images/google-login-button.png"/> </a>
                </div>
              </form>
            </div>
          </div>
          <div class="call-to-action">
             <div class="signup">
              <h1>New to Foodies? Signup</h1>
              <form>
               <div class="input"> <input type="text" placeholder="Name" class="textbox"/> </div>

               <div class="input"> <input type="text" placeholder="Email" class="textbox"/> </div>
               <div class="input"> <input type="text" placeholder="Password" class="textbox"/> </div>
                <div class="input"> <input type="text" placeholder="Password Again" class="textbox"/> </div>

                  <div class="input"> 
                  <button>Signup</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="footer">
          &copy; 2013. All rights reserved.
        </div>
      </div> 
    </div>
  </body>
  </html>