<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Foodies </title>
    <meta name="viewport" content="width=device-width">
    <!-- Less bootstrap https://github.com/twitter/bootstrap/tree/master/less-->
    
     <!-- Less styles -->
     <link href="assets/less/bootstrap-combined.no-icons.min.less" rel="stylesheet/less">
     <link href="assets/less/font-awesome.less" rel="stylesheet/less">     
     <link href="assets/less/style.less" rel="stylesheet/less">
     <script type="text/javascript" src="assets/js/less-1.3.3.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="header">
          header
        </div>
        <div class="hero-unit">
          <img src="assets/images/banner1.jpg" />
        </div>
        <div class="highlights">
          <div class="span4">
            trending restaurants
          </div>
          <div class="span4">
            trending foodies
          </div>
          <div class="span4">
            deal of the day
          </div>          
        </div>
        <div class="imp-links">
          3 main links
        </div>
      </div>
     </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
  </body>
  </html>