.highlights{
	color: #fff;
	overflow: hidden;
 .span4{
	background: red;
	padding: 8px 15px;
	}
}
.header{
	background: #000;
	margin: 5px 0px;
	padding: 8px 12px;
	color: #fff;
}
.hero-unit{
	margin-bottom: 10px;
	padding: 12px;

		img{
			width: 50%;
		}
	
}
.imp-links{
	margin: 5px 0px;
	background: blue;
 	padding: 8px 12px;
 	color: #fff;
}